.log-table{
    margin: 0.5em 0 1.5em 0;
}
.log-table caption{
    font-size: 1.2em;
    padding: 0.25em 0;
}
.log-table td{
    padding: 2px;
    text-align: center;
}
.log-table .wrong-month{
    color: rgba(0, 0, 0, 0.3);
}
.log-table a{
    display: block;
    padding: 0.25em 0.5em;
}
.users-list{
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 18em;
}
.users-list li{
    margin: 0.5em;
    padding: 0.5em;
    background: rgba(223, 117, 10, 0.3);
    border-radius: 4px;
}
.users-list .name{
    text-align: center;
    color: rgba(0, 0, 0, 0.8);
    margin: 0;
    padding: 0.2em 0;
    font-size: 1.2em;
}