{% extends "layout.html" %}
{% from "macros.html" import calendar_month, no_logs_found %}

{% block title %}Log Calendar{% endblock %}

{% block content %}
<div id="content">
    <h1>Log Calendar</h1>

    {% if most_recent_log_date %}
    <div class="temporal-navigation">
        <a href="{{ url_for('.list_channels', date=most_recent_log_date) }}">Latest: {{ most_recent_log_date.strftime("%a, %b %d, %Y") }}</a>
    </div>
    {% endif %}

    {% if log_dates %}
    {% for year, month in year_month_tuples|reverse %}
        <div class="calendar">
            <h2>{{ month | to_month_name }} {{ year }}</h2>
            {{ calendar_month(calendar, year, month, log_dates) }}
        </div>
    {% endfor %}
    {% else %}
        {{ no_logs_found() }}
    {% endif %}
</div>
{% endblock %}