{% extends "layout.html" %}
{% from "macros.html" import calendar_month, no_logs_found %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="pure-u-1">
    <h1>{{ title }}</h1>
</div>

{% if most_recent_log_date %}
<div class="pure-u-1">
    <a href="{{ date_url_function(most_recent_log_date) }}" class="pure-button pure-button-primary">Most Recent ({{ most_recent_log_date }})</a>
</div>
{% endif %}

{% if log_dates %}
<div class="pure-u-1">
{% for year, month in year_month_tuples|reverse %}
    <div class="pure-u-1 pure-u-sm-1 pure-u-md-11-24 pure-u-lg-9-24 pure-u-xl-7-24">
        {{ calendar_month(calendar, year, month, log_dates, date_url_function) }}
    </div>
{% endfor %}
</div>
{% else %}
<div class="pure-u-1">
{{ no_logs_found() }}
</div>
{% endif %}
{% endblock %}