{% extends "layout.html" %}
{% from "macros.html" import no_logs_found, modified_time %}

{% if specific_date %}
    {% set title = specific_date.strftime("%a, %b %d, %Y") %}
    {% set date_before_this_day = specific_date|date_before %}
    {% if specific_date != today %}
        {% set date_after_this_day = specific_date|date_after %}
    {% endif %}
{% else %}
    {% set title="All Channels" %}
{% endif %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="content">
    <div class="pure-u-1">
        <h1>{{ title }}</h1>
    </div>

    {% if specific_date %}
    <div class="pure-u-1 temporal-navigation">
        {% if date_before_this_day %}
            <a href="{{ url_for('.list_channels', date=date_before_this_day) }}" class="earlier">
                <i class="fa fa-chevron-left"></i>
                Earlier
            </a>
        {% endif %}
        {% if date_after_this_day %}
            <a href="{{ url_for('.list_channels', date=date_after_this_day) }}" class="later">
                Later
                <i class="fa fa-chevron-right"></i>
            </a>
        {% endif %}
    </div>
    {% endif %}

    {% for user, logs in latest_logs|dictsort %}
        {% if logs %}
    <div class="pure-u-1">
        <h2>{{ user }}</h2>

        <table class="channel-table">
            <thead>
                <tr>
                    <th class="channel-name-header">Channel</th>
                    <th class="modified-time-header">Last Modified</th>
                </tr>
            </thead>
            {% for log in logs %}
                {% if loop.index0 < config.get("NUM_TOP_CHANNELS_PER_USER", 10) %}
                    <tr class="channel-row">
                        <td class="channel-name">
                            <a href="{{ url_for('.get_log', user=user, channel=log.channel, date=log.date) }}">
                                {{ log.channel }}
                            </a>
                        </td>
                        <td class="modified-time">{{ modified_time(today, log.last_modified) }}</td>
                    </tr>
                {% else %}
                {% endif %}
            {% endfor %}
        </table>
    </div>
        {% endif %}
    {% else %}
    <div class="pure-u-1">
        {{ no_logs_found() }}
    </div>
</div>
{% endfor %}
{% endblock %}