{% extends "layout.html" %}

{% block title %}IRC Logs{% endblock %}

{% block content %}
<div id="content">
    <h1>IRC Logs</h1>

    <div id="index-buttons">
        <a href="{{ url_for('.list_channels', date='today') }}">
            <i class="fa fa-bolt"></i>
            <span>Today's Logs</span>
        </a>
        <a href="{{ url_for('.show_calendar') }}">
            <i class="fa fa-calendar"></i>
            <span>Calendar</span>
        </a>
        <a href="{{ url_for('.list_channels') }}">
            <i class="fa fa-list"></i>
            <span>Channels</span>
        </a>
    </div>
</div>
{% endblock %}