{% extends "layout.html" %}

{% block title %}ZNC Logs{% endblock %}

{% block content %}
<div class="pure-u-1">
    <h1>ZNC Logs</h1>
</div>

<div class="pure-u-1">
    <a href="#" class="pure-button pure-button-primary">
        <i class="fa fa-bolt"></i>
        Latest Logs
    </a>
    <a href="#" class="pure-button pure-button-primary">
        <i class="fa fa-calendar"></i>
        Calendar
    </a>
    <a href="{{ url_for('.list_channels') }}" class="pure-button pure-button-primary">
        <i class="fa fa-list"></i>
        Channels
    </a>
</div>
{% endblock %}