{% extends "layout.html" %}

{% block title %}{{ channel }} on {{ date }}{% endblock %}

{% macro refresh_button() %}
     <a href="{{ url_for('.get_log', user=user, channel=channel, date=date.strftime("%Y%m%d")) }}" class="pure-button pure-button-primary">
        <i class="fa fa-refresh"></i>
        Refresh
    </a>
{% endmacro %}

{% block content %}
<div class="pure-u-1">
    <a name="top"></a>
    <h1>{{ channel }} on {{ date }}</h1>
</div>

<div class="pure-u-1">
    <a href="#bottom" class="pure-button pure-button-primary">
        <i class="fa fa-arrow-down"></i>
        Bottom
    </a>
    {{ refresh_button() }}
</div>

<div class="pure-u-1">
{% for irc_line in irc_lines %}
<span class="irc-line {% if irc_line.type != 'message' %}irc-line-{{irc_line.type}}{% endif %}">
    <span class="irc-timestamp">{{ irc_line.timestamp }}</span>
    {% if irc_line.nick %}
    <span class="irc-nick irc-fg-{{ irc_line.nick|irc_nick_to_color_id }}">{{ irc_line.nick }}</span>
    {% endif %}
    <span class="irc-message">
        {% for fragment in irc_line.message_fragments %}
        <span class="irc-fragment {{ fragment.state |  irc_line_state_to_css_classes | join(' ') }}">
            {{ fragment.text | plain_urls_to_links }}
        </span>
        {% endfor %}
    </span>
</span>
{% endfor %}
<a name="bottom"></a>
</div>

<div class="pure-u-1">
    <a href="#top" class="pure-button pure-button-primary">
        <i class="fa fa-arrow-up"></i>
        Top
    </a>
    {{ refresh_button() }}
</div>
{% endblock %}