{% macro calendar_month(calendar, year, month, log_dates) %}
<table class="pure-table pure-table-bordered log-table">
    <caption>{{ month | to_month_name }} {{ year }}</caption>
    <thead>
        <tr>
            <th>日</th>
            <th>月</th>
            <th>火</th>
            <th>水</th>
            <th>木</th>
            <th>金</th>
            <th>土</th>
        </tr>
    </thead>

{%- for week in calendar.itermonthdates(year, month)|batch(7) %}
    <tr>
    {%- for date in week %}
        {%- if date.month == month %}
            {% if date in log_dates -%}
                <td><a href="{{ url_for('.list_channels', date=date) }}" class="pure-button pure-button-primary">{{ date.day }}</a></td>
            {%- else -%}
                <td><a href="#" class="pure-button pure-button-disabled">{{ date.day }}</a></td>
            {%- endif %}
        {%- else %}
            <td class="wrong-month">{{ date.day }}</td>
        {%- endif %}
    {%- endfor %}
    </tr>
{%- endfor %}
</table>
{%- endmacro %}

{% macro no_logs_found() %}
    <p>
        No logs found. You might not have permission to view logs.
    </p>
{%- endmacro %}

{% macro modified_time(today, datetime) %}
    {% if datetime.date() == today %}
        {{ datetime.strftime("%H:%M Today") }}
    {% elif datetime.year == today.year and datetime.month == today.month %}
        {{ datetime.strftime("%a, %b %d") }}
    {% else %}
        {{ datetime.strftime("%b %d, %Y") }}
    {% endif %}
{%- endmacro %}