body{
    background-color: #fff;
}
h1 {
    text-align: center;
    font-weight: lighter;
    background: rgb(255, 102, 39);
    color: white;
    margin: 0;
    padding: 0.2em 0;
}
h2{
    text-align: center;
    font-weight: lighter;
    padding: 0 0.2em;
    margin: 0.2em 0;
    color: rgba(1, 1, 1, 0.9);
}
#content{
    max-width: 960px;
    display: block;
    margin: 0 auto;
}
.temporal-navigation{
    margin: 0.5em 0;
}
.temporal-navigation a{
    background: white;
    border: 2px solid rgb(255, 102, 39);
    padding: 0.5em 1.5em;
    text-decoration: none;
    color: inherit;
}
.temporal-navigation a.earlier{
    float: left;
    margin-left: 0.5em;
}
.temporal-navigation a.later{
    float: right;
    margin-right: 0.5em;
}
@media screen and (min-width: 960px){
    .temporal-navigation a.earlier{
        margin-left: 0;
    }
    .temporal-navigation a.later{
        margin-right: 0;
    }
}

/*
 * Index page styling
 */
#index-buttons{
    margin-top: 0.5em;
}
#index-buttons a, #index-buttons a:visited, #index-buttons a:active{
    border: 2px solid rgb(255, 102, 39);
    display: block;
    text-align: center;
    margin: 0 0.5em 0.5em 0.5em;
    padding: 0.5em;
    text-align: left;
    text-decoration: none;
    color: rgba(1, 1, 1, 0.8);
}
#index-buttons a:hover{
    background: rgb(255, 102, 39);
    color: white;
}
#index-buttons i.fa{
    font-size: 3em;
    display: inline-block;
    width: 1em;
    height: 1em;
    text-align: center;
}
#index-buttons span{
    display: inline-block;
    vertical-align: 0.35em;
    margin-left: 0.25em;
    font-size: 1.5em;
}
@media screen and (min-width: 960px){
    #index-buttons a{
        display: inline-block;
        width: 32.55%;
    }
    #index-buttons i.fa{
        font-size: 3em;
        display: block;
    }
}
/*
 * Channel-listing styling
 */
.channel-table{
    width: 100%;
    margin: 0 0 2em 0;
}
.channel-table .channel-row, .channel-table thead tr{
    border-bottom: 1px solid rgb(204, 204, 204);
}
.channel-table .channel-name-header, .channel-table .modified-time-header{
    font-weight: heavy;
    text-align: left;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 0.8em;
    padding-bottom: 5px;
    color: rgb(100, 100, 100);
}
.channel-table .channel-name-header, .channel-table .channel-name{
    width: 70%;
    padding-left: 5px;
}
.channel-table .modified-time-header, .channel-table .modified-time-header{
    width: 30%;
}
.channel-table .channel-name, .channel-table .modified-time{
    padding-top: 0.4em;
    padding-bottom: 0.4em;
}
.channel-table a, .channel-table a:visited, .channel-table .modified-time{
    color: rgba(1, 1, 1, 0.8);
    text-decoration: none;
}
.channel-table .channel-row:hover{
    background: rgba(1, 1, 1, 0.05);
}
.channel-table a:hover, .channel-table a:active{
    color: rgb(255, 102, 39);
    border-bottom: 1px solid rgb(255, 102, 39);
}

/*
 * Log styling
 */

.log-table{
    margin: 0.5em 0 1.5em 0;
}
.log-table caption{
    font-size: 1.2em;
    padding: 0.25em 0;
}
.log-table td{
    padding: 2px;
    text-align: center;
}
.log-table .wrong-month{
    color: rgba(0, 0, 0, 0.3);
}
.log-table a{
    display: block;
    padding: 0.25em 0.5em;
}

.irc-line{
    display: block;
}

.irc-line-join .irc-message{
    color: green;
    font-weight: bold;
}
.irc-line-part .irc-message, .irc-line-quit .irc-message{
    color: #66361F;
}

.irc-timestamp{font-color: red;}
.irc-timestamp::before{content: '[';}
.irc-timestamp::after{content: ']';}
.irc-nick{font-weight: bold;}
.irc-nick::before{content: '<';}
.irc-nick::after{content: '>';}

.irc-bold{font-weight: bold;}
.irc-underline{text-decoration: underline;}

.irc-fg-0{color: #ccc;}
.irc-fg-1{color: #000;}
.irc-fg-2{color: #3636b3;}
.irc-fg-3{color: #2a8d2a;}
.irc-fg-4{color: #c43b3b;}
.irc-fg-5{color: #c83232;}
.irc-fg-6{color: #802780;}
.irc-fg-7{color: #67361f;}
.irc-fg-8{color: #daa741;}
.irc-fg-9{color: #3ecd3e;}
.irc-fg-10{color: #1a5555;}
.irc-fg-11{color: #2f8d75;}
.irc-fg-12{color: #4545e7;}
.irc-fg-13{color: #b137b1;}
.irc-fg-14{color: #4c4c4c;}
.irc-fg-15{color: #969696;}

.irc-bg-0{background-color: #ccc;}
.irc-bg-1{background-color: #000;}
.irc-bg-2{background-color: #3636b3;}
.irc-bg-3{background-color: #2a8d2a;}
.irc-bg-4{background-color: #c43b3b;}
.irc-bg-5{background-color: #c83232;}
.irc-bg-6{background-color: #802780;}
.irc-bg-7{background-color: #67361f;}
.irc-bg-8{background-color: #daa741;}
.irc-bg-9{background-color: #3ecd3e;}
.irc-bg-10{background-color: #1a5555;}
.irc-bg-11{background-color: #2f8d75;}
.irc-bg-12{background-color: #4545e7;}
.irc-bg-13{background-color: #b137b1;}
.irc-bg-14{background-color: #4c4c4c;}
.irc-bg-15{background-color: #969696;}
